* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.container {
    width:100%;
    height:100%;
}

.light {
    background-color:#fff;
}

.dark {
    background-color:#000;
    color:#fff;
}

.container #theme {
    width:50%;
    height:100%;
    margin:0 auto;
    position: relative;
}

.container #theme h1 {
    text-align:center;
    padding-top:30px;
    color:grey;
}

.container #theme .color {
    color:limegreen;
}

.container #theme .box {
    margin:100px auto;
    width:50%;
    height:auto;
    display:flex;
    justify-content:center;
    align-content: center;
}

.container #theme .box input[type="text"] {
    border:0;
    outline:none;
    border:2px solid #000;
    padding:12px 40px;
    border-radius:20px;
    text-align:center;
    font-size:18px;
    transition:all .2s ease-in-out;
}

.container #theme .box .add {
    position:absolute;
    bottom:5%;
    right:10%;
}

.container #theme .box .add i {
    font-size: 2rem;
    color:#fff;
    border:2px solid limegreen;
    background-color:limegreen;
    padding:5px 10px;
    border-radius:50%;
    cursor:pointer;
}

.container #theme .box .todo-list{
    margin-top:100px;
}

.container #theme .box .todo-list li {
    text-decoration:none;
}

#theme .toggle-btn {
    width:50px;
    height:25px;
    position: absolute;
    right:5%;
    top:5%;
    border-radius:20px;
    background-color: grey;
    transition:all .2s ease-in-out;
}

#theme .inner-circle {
    width:25px;
    height:25px;
    position:absolute;
    border-radius:50%;
    background-color:#fff;
    cursor:pointer;
    transition:all .2s ease-in-out;

}


@media screen and (max-width:768px) {
 .container #theme {
        width:100%;
        height:100%;
    }
}